.chat {
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #161717;
    background-image: url('https://i.postimg.cc/tJmMYL9H/Whatsapp-Chat-Background.jpg'); /*fondo del chat*/
    position: relative;
}

.chat--empty {
    justify-content: center;
    align-items: center;
    background: #161717;
}

.chat--empty h2 {
    color: #667781;
    font-weight: normal;
}

.chat__header {
    padding: 10px 16px;
    background-color: #161717;
    border-bottom: 0px solid #e9edef;
    display: flex;
    align-items: center;
}

.chat__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat__headerInfo {
    flex: 1;
}

.chat__headerInfo h3 {
    font-size: 16px;
    color: #FAFAFA; /*color del nombre*/
    font-weight: 500;
}

.chat__body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat__footer {
    padding: 8px 16px;
    background-color: #161717;
}

.chat__footer form {
    display: flex;
}

.chat__footer input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    background-color: #2d2e2e;
}

.chat__footer button {
    padding: 10px 15px;
    background-color: #00a884;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.chat__footer button:hover {
    background-color: red;
}