/*
.vertical-nav {
    width: 70px;
    background-color: #1d1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #374045;
}
*/


.vertical-nav {
    width: 70px;
    height: 100%;
    background-color: #1d1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #374045;
    transition: transform 0.3s ease;
}

.nav-icon {
    color: #aebac1;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
/* Botón de cerrar (solo móvil) */
.close-nav {
    display: none;
    background: none;
    border: none;
    color: #aebac1;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.nav-icon:hover {
    background-color: #374045;
    color: #d1d7db;
    box-shadow: 0px 2px 8px #00a884;

}

.nav-icon.active {
    background-color: #374045;
    color: #00a884;
}

.profile-icon {
    margin-top: auto;
    margin-bottom: 20px;
}

.profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-icon.profile-icon {
    padding: 8px;
}



/* Para móvil */
@media (max-width: 768px) {
    .vertical-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 900;
        transform: translateX(-100%);
    }

    .vertical-nav.visible {
        transform: translateX(0);
    }
}