.search {
    padding: 10px;
    background-color: #f0f2f5;
    border-bottom: 1px solid #e9edef;
}

.search input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #ffffff;
}