.search {
    padding: 10px;
    background-color: #161717;

}

.search input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #2d2e2e;
    color: #FAFAFA;
    font-weight: 400;
}