* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    height: 100vh;
    background-color: #161717;
}

.main-content-container {
    flex: 1;
    display: flex;
    min-width: 0;
    /* Previene desbordamiento */
}

/* Ajustes para el ancho de contactos y chat */
.sidebar {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    background-color: #161717;
    border-right: 1px solid #374045;
}

.chat {
    flex: 1;
    background-color: #161717;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #161717;
    border-left: 1px solid #374045;
}

/* Asegura que todas las páginas tengan el mismo ancho */
.page-container {
    width: 70%;
    /* O el ancho que prefieras */
    max-width: 500px;
    /* Ajusta según necesidad */
    min-width: 500px;
    /* Ancho mínimo */
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
    .page-container {
        width: 100%;
        min-width: 100%;
    }
}